
/*this is a header*/
header{
    background: #0a21d3;
    color: #ffffff;
    padding-top: 5px;
    min-height: 100px;
    border-bottom: #05dd3b 10px solid;
    min-width: 100%px;
    cursor: pointer;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5PX;
    cursor: pointer;
}

header li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
header #branding{
    float: left;
    background-image:url(../img/img1.png);
}
header #branding h3{
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    text-transform: uppercase;
    }
header nav{
    float: left;
    margin-left:257px;
    background-image: url(../img/img1.png);
}

header .highlight, header .current a{
    color: #e84914;
    font: bold;
}
header a:hover{
    color: hwb(150 2% 57% / 0.801);
    font-weight: bold;
}
header img{
    width: 100px;
    height: 90px;
    float: left;
    padding-left: 2px;
    border-radius:1px;
    box-sizing: border-box;
 
}
/* dropdown_menu*/
.dropdown_menu{
    display: none;
}
.dropdown_menu{
    width: 120px;
}
nav ul li:hover .dropdown_menu{
  background: #0a21d3;
    display: block;
    position: absolute;
    top: 5%;
}
nav ul li:hover .dropdown_menu ul {
    display: block;
    margin: 5px;
}
.dropdown_menu ul li{
    width: 120px;
    padding: 3px;
}
.dropdown_menu a{
font-size: 12px;
 padding: 2PX;
}
/* end of dropdown_menu*/
/*This is a Footer*/
footer{
     background: #0a21d3;
    color: #ffffff;
    padding-top: 5px;
    min-height: 70px;
    border-bottom: #05dd3b 10px solid;
    /*border-bottom: hwb(138 1% 85% / 0.815) 10px solid;*/
    border-top: hwb(137 34% 34% / 0.815) 5px solid;
}

footer img{
    width: 65px;
    height: 55px;
    float: left;
    padding-left: 5px;
    border-radius: 15px;
    box-sizing: border-box;
}

footer p{
    text-align: center;
    font: 1em sans-serif;
    margin: 10px;
    text-transform: uppercase;
}
footer h3{
    text-align: center;
    font: 1em sans-serif;
    text-transform: uppercase ;
}
footer ul{
    
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    padding: 0;
}
footer li{
    float: left;
    display: inline;
    padding:5px 5px 5px 5px;
}
.nefor-logo1{
    width:5%;
    float: left;  
}
.nefor-logo2{
    width: 5%;
    float: right; 
}
.nefor-logo1 img{
    width:75px;
    height:75px;
}
.nefor-logo2 img{
    width: 75px;
    float: right;
    height:75%;
    padding-top: 0;
}
/*footer social media*/
.button{
    display: inline-block;
    height: 35px;
    width: 35px;
    max-width: 0 3px;
    overflow: hidden;
    background:hsl(139, 91%, 9%);
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(0, 0, 0 0.1);
    transition: all 0.3s ease-out;
    margin-left: 150px;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper{
    margin-left: 200px;
    width: 75%;
}
.wrapper .button .icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1)
:hover.icon{
    background-color: hwb(263 2% 46%);
}
.wrapper .button:nth-child(2)
:hover.icon{
    background-color: hsl(135, 92%, 28%);
}
.wrapper .button:nth-child(3)
:hover.icon{
    background-color: hwb(0 1% 11%);
}
.wrapper .button:nth-child(4)
:hover.icon{
    background-color: hsl(135, 92%, 28%);
}
.wrapper .button:nth-child(5)
:hover.icon{
    background-color: hwb(135 2% 46%);
}
.wrapper .button .icon a{
    font-size: 25px;
    line-height: 25px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1)
span{
    color: blue;
    font: size 15px;
}
.wrapper .button:nth-child(2)
span{
    color: rgb(10, 179, 75);
    font: size 15px;
}
.wrapper .button:nth-child(3)
span{
    color: #ff0000;
    font: size 15px;
}

.wrapper .button:nth-child(4)
span{
    color: hwb(144 2% 30%);
    font-size:15px;
}
.wrapper .button:nth-child(5)
span{
    color: lch(84.03% 103.96 139.59);
    font: size 15px;
}
/* General Reset for Mobile */
/* For devices with a max width of 1200px */
@media (max-width: 1200px) {
    header img {
        width: 80%;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .card-content {
        font-size: 1rem;
    }
}

/* For devices with a max width of 768px (Tablets) */
@media (max-width: 768px) {
    header img {
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card-wrapper {
        flex-direction: column;
    }
    .card {
        margin: 10px 0;
    }
}
/*new*/
/* For devices with a max width of 480px (Mobile Phones) */
@media (max-width: 480px) {
    header img {
        width:47px;
        height: auto;
    }
    header #branding h3 {
        font-size: 11px;
    }
   header a{
    font-size: 12px;
     padding:0;
     color: green;
    cursor: pointer;
    margin-top: 20;
}
header nav{
    float:left;
    padding: 0 0px 0 0px;
    margin-left:0px;
    width: 160px;
    height: 100px;
    display:inline;
 
}
    /*new*/
    #branding h3 {
        font-size: 1.2rem;
    }
    .card-content h2 {
        font-size: 1rem;
    }
    .card-content p {
        font-size: 0.9rem;
    }
    footer h3 {
        font-size: 1rem;
    }
    #nefor-container3{
    padding:5PX;
    color: #ffffff;
    background: #354243;
}
#nefor-container3 h2{
    float: left;
    width:25%;
    margin-top: 0;
}
#nefor-container3 form{
    float: right;
    
}
footer{
    background: #354243;
    color: #ffffff;
    padding-top: 3px;
    min-height:50px;
    border-bottom: #05dd3b 10px solid;
    /*border-bottom: hwb(138 1% 85% / 0.815) 10px solid;*/
    border-top: hwb(138 1% 85% / 0.815) 5px solid;
}

footer img{
    width: 40px;
    height:40px;
    float: left;
    padding-left: 5px;
    border-radius:10px;
    box-sizing: border-box;
}

footer p{
    text-align: center;
    font: 0.8em sans-serif;
    margin:8px;
    text-transform: uppercase;
}
footer h3{
    text-align: center;
    font: 0.8em sans-serif;
    text-transform: uppercase ;
}
footer ul{
    
    align-items:normal;
    background-color: #05dd3b;
}
footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
    padding: 0;
}
footer li{
    float: right;
    display: inline;
    padding:2px 2px 2px 2px;
}
.nefor-logo1{
    width:15%;
    float: left; 
    width:15%; 
}
.nefor-logo2{
    width:15%;
    float: right; 
}
.nefor-logo1 img{
    width:100%;
    height:100%;
}
.nefor-logo2 img{
    width:100%;
    height:100%;
    padding-top: 0;
}
/*footer social media*/
.button{
    display: inline-block;
    height:30px;
    width:30px;
    max-width: 0 3px;
    overflow: hidden;
    background:hsl(139, 91%, 9%);
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(0, 0, 0 0.1);
    transition: all 0.3s ease-out;
    margin-left:2px;
    align-items: center;
   
}
.wrapper .button:hover{
    width: 100px;

                                                                }
.wrapper{
    margin-left:140px;
    width: 50%;
    background-color: #ff0000;
}
.wrapper .button .icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
     background-color: hsl(124, 100%, 50%);
}
}