                                */*this is a header*/
header{
    background: #354243;
    color: #ffffff;
    padding-top: 5px;
    min-height: 100px;
    border-bottom: #05dd3b 10px solid;
    min-width: 100%px;
    cursor: pointer;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5PX;
    cursor: pointer;
}

header li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
header #branding{
    float: left;
    background-image:url(../img/img1.png);
}
header #branding h3{
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    text-transform: uppercase;
    }
header nav{
    float: left;
    margin-left:420px;
    background-image: url(../img/img1.png);
}

header .highlight, header .current a{
    color: #e84914;
    font: bold;
}
header a:hover{
    color: hwb(150 2% 57% / 0.801);
    font-weight: bold;
}
header img{
    width: 100px;
    height: 90px;
    float: left;
    padding-left: 2px;
    border-radius: 10px;
    box-sizing: border-box;
}
/* dropdown_menu*/
.dropdown_menu{
    display: none;
}
.dropdown_menu{
    width: 120px;
}
nav ul li:hover .dropdown_menu{
  background: #354243;
    display: block;
    position: absolute;
    top: 5%;
}
nav ul li:hover .dropdown_menu ul {
    display: block;
    margin: 5px;
}
.dropdown_menu ul li{
    width: 120px;
    padding: 3px;
}
.dropdown_menu a{
font-size: 12px;
 padding: 2PX;
}
/* end of dropdown_menu*/
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: hsl(264, 7%, 86%);
}
.main-nefor{
    margin: 0 20vw;
    background-color: #ff0000;
}
.wrapper-gallery{
    margin: 0 2vw;  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: green;
}
.wrapper-gallery nav{
    display: grid;
    float: right;
    padding-top:4px;
}

#index-gallery h2{
 text-transform: uppercase;
}
/*footer social media*/
.button{
    display: inline-block;
    height: 35px;
    width: 35px;
    max-width: 0 3px;
    overflow: hidden;
    background:hsl(139, 91%, 9%);
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgb(0, 0, 0 0.1);
    transition: all 0.3s ease-out;
    margin-left: 100px;
}
.wrapper .button:hover{
    width: 100px;
}
.wrapper{
    margin-left: 100px;
    width: 70%;
}
.wrapper .button .icon{
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 25px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1)
:hover.icon{
    background-color: hwb(263 2% 46%);
}
.wrapper .button:nth-child(2)
:hover.icon{
    background-color: hsl(135, 92%, 28%);
}
.wrapper .button:nth-child(3)
:hover.icon{
    background-color: hwb(0 2% 46%);
}
.wrapper .button:nth-child(4)
:hover.icon{
    background-color: hsl(135, 92%, 28%);
}
.wrapper .button:nth-child(5)
:hover.icon{
    background-color: hwb(135 2% 46%);
}

.wrapper .button .icon a{
    font-size: 25px;
    line-height: 25px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1)
span{
    color: blue;
    font: size 15px;
}
.wrapper .button:nth-child(2)
span{
    color: rgb(10, 179, 75);
    font: size 15px;
}
.wrapper .button:nth-child(3)
span{
    color: #ff0000;
    font: size 15px;
}
.wrapper .button:nth-child(4)
span{
    color: hsl(352, 92%, 15%);
    font-size:15px;
}
.wrapper .button:nth-child(5)
span{
    color: lch(84.03% 103.96 139.59);
    font: size 15px;
}



