body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: hsl(187, 18%, 90%);
  
}

/*header section*/
header{
    background: #354243;
    color: #ffffff;
    padding-top: 5px;
    min-height:100px;
    border-bottom: hwb(138 1% 85% / 0.815) 10px solid;
    border-top: hwb(138 1% 85% / 0.815) 5px solid;
    min-width: 100%;
    cursor: pointer;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding:2PX;
}
nav li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
header #branding{
    float: left;
}
header #branding h3{
margin: 2px;
padding: 2px;
font-size:20px;
text-transform: uppercase;
}
header nav{
    float: left;
    margin-left:300px;

}
/*excutive summary*/
.EX{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.NeFOR{
    padding: 5px;
    background-color: lch(90.66% 0.36 17.73);
    align-items: center;
}
.NeFOR p{
    text-align: center;
    font-weight: bold;
    font: 1em sans-serif;
}
.j2{
    text-align: center;
    font-weight: bolder;
    font-size:50px;
    margin-top:50%;
    color: #ffffff;
}
/*end of excutive summary*/
/* dropdown_menu*/
.dropdown_menu{
    display: none;
}
.dropdown_menu{
    width: 120px;
}
nav ul li:hover .dropdown_menu{
  background: #354243;
    display: block;
    position: absolute;
    top: 5%;
}
nav ul li:hover .dropdown_menu ul {
    display: block;
    margin: 5px;
}
.dropdown_menu ul li{
    width: 120px;
    padding: 3px;
}
.dropdown_menu a{
font-size: 12px;
 padding: 2PX;
}
/* end of dropdown_menu*/
header .highlight, header .current a{
    color: #e84914;
    font: bold;
}
header a:hover{
    color: hwb(150 2% 57% / 0.801);
    font-weight: bold;
}
header img{
    width: 100px;
    height: 90px;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 20px;
}
/*end of Header*/
/*NEFOR showcase*/
#nefor-showcase{
    min-height: 400px;
    background: url("../img/img5.jpg") no-repeat 0 -600px;
    text-align: center;
    color: hwb(0 10% 90%);
    padding-top: 2px;
}
#nefor-showcase img{
    float:right;
    width:60%;
    height: 400px;
    padding: 5px 4px 4px 4px ;
}
#nefor-showcase h3{
    margin-top: 45px;
    font-size: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
    float: left;
    padding-left:2px;
   color: #1908d3;
}
#nefor-showcase p{
    margin-top: 25px;
    font-size: 27px;
    float: left;
    text-transform: bold;
}
#nefor-container3{
    padding: 10PX;
    color: #ffffff;
    background: #354243;
}
#nefor-container3 h2{
    float: left;
    width: 50%;
    margin-top: 0;
}
#nefor-container3 form{
    float: right;
    
}
.slide-container{
    max-width: 1110px;
    width: 90%;
    padding: 40px;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 30px;  
}
.card{
    border-radius: 30px;
    background-color:rgb(208, 218, 213);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-content span{
    color: green;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:green;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color:rgb(208, 218, 213);
}
.card-image{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: hsl(145, 85%, 29%);
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #4070fa;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color:hwb(0 3% 97%);
    text-align: center;
    word-spacing: 0.1px;
    text-indent: 0%;
}
.button-1{
    border: #ff0000;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color:darkgreen;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;  
}
.swiper-navBtn{
    color: green;
    transition: color 0.3s ease; 
}
.swiper-navBtn:hover{
    color:green;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

h2{
    text-transform: uppercase;
}
.new{
    color: #ff0000;
}
.description{
    text-align: justify;
}

/*thi is a link buttons*/
.section {
    height: 100vh;
    padding: 2em;
}
#buttons {
display: flex;
align-items: center;
color: #fff;
    padding: 3px 3px;
    background-color:darkgreen;
    border-radius:3px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    height: 20px;

}
#buttons a {
    color: #ffffff;
    font-size: 12px;
    padding: 1em;
    text-decoration: none;
}
#buttons:hover{
    background-color: #265df2;
}


/* For devices with a max width of 480px (Mobile Phones) */
@media (max-width: 480px) 
{
    #nefor-showcase{
    min-height: 300px;
    background: url("../img/img5.jpg") no-repeat 0 -500px;
    text-align: center;
    color: hwb(0 10% 90%);
    padding-top: 2px;
}
#nefor-showcase img{
    float:right;
    width:40%;
    height: 275px;
    padding: 2px 2px 2px 2px ;
}
#nefor-showcase h3{
    margin-top:10px;
    font-size: 12px;
    margin-bottom:5px;
    text-transform: uppercase;
    float: left;
    padding-left:2px;
     text-transform: bold;
   color: #1908d3;
}
#nefor-showcase p{
    margin-top:10px;
    font-size:16px;
    float: left;
    text-transform: bold;
}
    .slide-container{
    max-width:400px;
    width:100%;
    padding:10px;
   
}
.slide-content{
    margin: 0 10px;
    overflow: hidden;
    border-radius:15px;  
  
}
.card{
    border-radius:15px;
    background-color:rgb(19, 170, 94);

}
.image-content,
.card-content{
    align-items: center;
    padding:5px 10px;
}
.card-content span{
    color: green;
}
.image-content{
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    background-color: green;
    border-radius: 10px 10px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    height: 20px;
    width: 20px;
    background-color:green;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color:rgb(212, 218, 208);
}
.card-image{
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: hsl(145, 85%, 29%);
    padding: 2px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #fa4040;
}
.name{
    font-size: 18px;
    font-weight: 200px;
    color:rgb(14, 2, 3);
}
.description{
    font-size: 12px;
    color:hwb(0 3% 97%);
    text-align: center;
    word-spacing: 0.1px;
    text-indent: 0%;
    text-transform: bold;
}

.button-1{
    border: #ff0000;
    font-size: 13px;
    color: #fff;
    padding: 8px 16px;
    background-color:darkgreen;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.swiper-navBtn{
    color: green;
    transition: color 0.3s ease; 
}
.swiper-navBtn:hover{
    color:green;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 20px;
}
#buttons {
display:none;

}
    footer{
    background: #354243;
    color: #ffffff;
    padding-top:2px;
    min-height:50px;
    border-bottom: #05dd3b 10px solid;
    /*border-bottom: hwb(138 1% 85% / 0.815) 10px solid;*/
    border-top: hwb(138 1% 85% / 0.815) 5px solid;
}
footer img{
    width: 45px;
    height:45px;
    float: left;
    padding-left:2px;
    border-radius:15px;
    box-sizing: border-box;
    background-color:green;
}
footer p{
    text-align: center;
    font: 1em sans-serif;
    margin:2;
    text-transform: uppercase;
    color:red;
} 
footer h3{
    text-align: center;
    font: 0.8em sans-serif;
    text-transform: uppercase ;
}

footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1em;
 
    padding: 0;
}
    
footer li{
    float: right;
    display: block;
    padding:0;
}
.nefor-logo1{
    width:20px;
    float: left; 
    width:10px;
    background-color: red:
}
.nefor-logo2{
    width:15px;
    float: right; 
}
.nefor-logo1 img{
    width:50px;
    height:30px;
}
.nefor-logo2 img{
    width:30px;
    height:;50px
    padding-top: 0;
}
/*footer social media*/
.button{
    display:block;
    height:30px;
    width:30px;
    max-width: 15px;
    overflow: hidden;
    background:hsl(139, 91%, 9%);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(0, 0, 0 0.1);
    transition: all 0.3s ease-out;
    margin-left:1px;
    align-items: center;
     margin-left:10px;
}
.wrapper .button:hover{
    width:30px;
}
.wrapper{
    margin-left:10px;
    width: 100%;
    background-color;
}
.wrapper .button .icon{
    display:block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100px;
    box-sizing: border-box;
    line-height: 20px;
    transition: all 0.3s ease-out;
}
}



}*/















